.item {
  position: relative;
  min-height:20vw;
  min-width:20vw;
  padding: 40px;
}

.item img{
  width:100%;
  height:100%;
  border-radius: 2rem;
  pointer-events: none;
}

.item .btn {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:rgb(105, 104, 108);
  color: white;
  font-size: 17px;
  font-style: bold;
  padding: 20px 26px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.item .btn:hover {
  background-color: rgb(57, 56, 56);
  transition:0.4s;
}
.inner-carousel{
  display: flex;
  transition: 0.4s;

}

.carousel{
  cursor:grab;
  overflow: hidden;

}
/* .inner-carousel:hover{
  background-color: rgb(62, 62, 62);
  transition:0.4s;
} */
.txt{
  color:rgb(255, 255, 255);
  position:absolute;
  top: 35%;
  left: 30%;
  right:30%;
  font-family: Abril Fatface;
  font-size: 20px;
  font-weight: bold;
}
